


/* Start:/bitrix/components/infostart/support.chat/templates/modal/style.css*/
/*modal*/
.modal-chat{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	font-family: Inter, Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 15px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 9999;

	transition: all .3s;
}
.modal-chat_bg{
	background-color: rgb(0, 0, 0, 0.5);
}
.modal_active{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.modal-chat__main{
	display: flex;
	flex-direction: column;

	width: auto;
	height: calc(100vh - 60px);
	max-height: 634px;

	margin: 10px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border-radius: 6px;
	outline: 0;
}
.modal-chat__header{
	display:flex;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.header__title{
	margin: 0;
	line-height: 1.42857143;
	font-size: 17px;
	font-weight: 300;
}
.modal__close-img {
	width: 23px;
	height: 23px;
	cursor: pointer;
	filter: invert(71%) sepia(1%) saturate(397%) hue-rotate(41deg) brightness(114%) contrast(111%);
}
.modal__close-img:hover{
	filter: invert(53%) sepia(0%) saturate(1%) hue-rotate(187deg) brightness(88%) contrast(88%);
}
.modal-chat__body{
	padding: 50px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	border-radius: 10px;
	position: relative;
}
.modal-chat__footer{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.footer__form_hidden{
	display: none;
	visibility: hidden;
}
.footer__continue{
	display:flex;
	align-items: center;
	padding: 4px 7px;
	border: 1px solid #dee1e7;
}
.continue__label{
	font-size: 0.8125em;
	line-height: 1.230769230769231em;
	color: #575d67;
	margin-right: 8px;
}
.link__icon {
	cursor: pointer;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #40b3e0;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.874 5.486-2.51 12.658s-.352.878-1.317.457l-5.794-4.442-2.107-1.018L3.6 11.947s-.544-.193-.597-.615c-.053-.421.614-.65.614-.65l14.098-5.53s1.159-.509 1.159.334' fill='%23fff'/%3E%3Cpath d='M8.808 18.001s-.17-.016-.38-.683-1.282-4.178-1.282-4.178l8.515-5.408s.492-.298.474 0c0 0 .088.053-.175.299-.264.246-6.69 6.022-6.69 6.022' fill='%23D2E5F1'/%3E%3Cpath d='m11.475 15.862-2.291 2.09s-.18.135-.375.05l.438-3.88' fill='%23B5CFE4'/%3E%3C/svg%3E");
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
}
.link__icon:hover {
	background-color: #22a1d3;
}
.footer__actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.actions__main{
	position:relative;
	margin-right: 8px;
}
.actions__list{
	display: block;
	position: absolute;
	width: 205px;
	top: auto;
	bottom: 100%;
	margin-bottom: 2px;
	margin: 2px 0px;
	min-width: 160px;
	padding: 5px 0;
	font-size: 13px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.actions__list_animate{
	animation-name: flipInX;
	-moz-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;
	animation-fill-mode: both;
}
.list__link{
	padding: 3px 20px;
	color: #333;
	width: 100%;
	display: block;
}
.list__link:hover, .list__link:focus, .list__link:active{
	text-decoration: none!important;
	color: #FFFFFF;
	background-color: #3B5998;
}
.actions_hidden{
	visibility: hidden;
}
.actions__button {
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	border: 1px solid #DEE1E7;
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.086.38a5 5 0 0 1 5.452 8.152l-.003.003L9.122 21.122a3 3 0 0 1-4.246-4.24l10.41-10.584a1 1 0 0 1 1.426 1.403L6.293 18.293a1 1 0 0 0 1.414 1.414L20.121 7.121a3 3 0 0 0-4.24-4.245L3.465 15.465a5 5 0 1 0 7.07 7.07l10.258-10.243a1 1 0 0 1 1.413 1.415L11.95 23.95a7 7 0 0 1-9.902-9.897L14.464 1.464A5 5 0 0 1 16.086.38Z' fill='%23575D67'/%3E%3C/svg%3E");
	background-size: 23px 26px;
	background-position: center center;
	background-repeat: no-repeat;
}
.actions__button:hover {
	border-color: #CCCED0;
}
.button__text {
	display: inline-flex;
	width: 0;
	overflow: hidden;
}
.button_active {
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.086.38a5 5 0 0 1 5.452 8.152l-.003.003L9.122 21.122a3 3 0 0 1-4.246-4.24l10.41-10.584a1 1 0 0 1 1.426 1.403L6.293 18.293a1 1 0 0 0 1.414 1.414L20.121 7.121a3 3 0 0 0-4.24-4.245L3.465 15.465a5 5 0 1 0 7.07 7.07l10.258-10.243a1 1 0 0 1 1.413 1.415L11.95 23.95a7 7 0 0 1-9.902-9.897L14.464 1.464A5 5 0 0 1 16.086.38Z' fill='%235AB543'/%3E%3C/svg%3E");
}
.footer__btn {
	width: 120px;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	border: 1px solid transparent;

	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.footer__btn:active, .footer__btn:focus, .footer__btn:hover{
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

@media (min-width: 414px){

	.modal-chat__main {
		width: 450px;
		max-width: calc(100% - 20px);
		margin: 30px auto;
	}
}
@media (max-width: 430px) {
	/*.modal-chat__footer{
		flex-direction: column;
		align-items: flex-start;
	}*/
	.footer__continue{
		order: 2;
		margin-left: auto;
		margin-right: 0;
	}

	.livechat-actions {
		margin-bottom: 8px;
		width: 100%;
		order: 1;
		display: flex;
	}
	.livechat-actions .btn-group {
		width: 48px;
	}
}
@media (max-width: 525px) {
	.actions__list{
		font-size:11px;
		width: 180px;
	}

	.livechat-box{
		min-height: calc(50vh - 60px)!important;
	}
}
/*modal*/









.livechat-box {
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
    background-color: #fff;
	width: 100%;
	z-index: 1010;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 360px;
	overflow-y: auto;
    padding: 0;
}
.livechat-box .livechat-box-content {
	color: #404040;
}
.livechat-box * {
	box-sizing: border-box;
}
.livechat-day-wrap {
	padding-top: 10px;
	text-align: center;
}
.livechat-box a {
	color: currentColor;
	text-decoration: underline;
}
.livechat-box .btn {
	display: inline-block;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
}
.livechat-box .btn-default {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ccc;
}
.livechat-box .btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.livechat-box .btn:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.chat-info-message {
	padding:0 15px;
	font-size: 12px;
	color:#777;
}
.livechat-box-content {
	padding: 7px 15px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	border: none;
	flex-grow:1;
}
@media (max-width: 768px) {
	.livechat-box-content {
		padding: 7px 10px 7px 20px;
	}
}
.livechat-box-content>.alert-msg {
	border-bottom: 1px dashed #D6D6D6;
	padding: 4px 10px;
	color: #C20F16;
	font-size: 11px;
	text-align: center;
	display: none
}
.livechat-box-content.true>.alert-msg {
	display: block;
}
.livechat-box-content>:first-child {
	margin-top: 0
}
.livechat-box-input {
	padding: 5px 15px;
	border-top: 1px solid grey;
	border-width: 0;
	background-color: #fff;
}
@media (max-width: 768px) {
	.livechat-box-input {
		padding: 5px 20px;
	}
}
.livechat-box-input-agree {
	position: relative;
	padding: 0 28px;
	font-size: 11px;
}
.livechat-box-input textarea {
	border: 1px solid #bdbdbd;
	padding: 6px 10px;
	outline: 0;
	resize: none;
	background-color: #fff;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
	width: 100%;
	height: 98px;
}
.livechat-box-input textarea::-webkit-input-placeholder,
.livechat-box-input textarea::-moz-placeholder {
	color: #BBC4CB;
}
.livechat-box-input .livechat-box-input-focus {
	border-color: #5D98CC;
	background-color: rgba(48,126,204,.05);
}
.livechat-man {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height:0;
	opacity: 0;
	z-index: 1010;
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	cursor: pointer;
	-webkit-transition: all 0.5s cubic-bezier(0.86,0,0.07,1);
	transition: all 0.5s cubic-bezier(0.86,0,0.07,1);
}
.livechat-man:focus {
	outline: 0
}
.livechat-man.animated {
	height:auto;
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0px)
}
.livechat-man .js-start-chat {
	display: block;
	text-align: center;
	text-decoration:none;
	cursor: pointer;
}
.livechat-man .lc-icon {
	padding-top: 11px;
	font-size:35px;
	line-height: 1;
	display: inline-block;
	vertical-align: center;
	color: #fff;
}
.livechat-man .livechat-hint {
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top: -20px;
	opacity: 0;
	z-index: 0;
	-webkit-transition: all .3s cubic-bezier(0.86,0,0.07,1);
	transition: all .3s cubic-bezier(0.86,0,0.07,1);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	display: none;
}
.livechat-man .livechat-hint.show_hint {
	-webkit-transform: translateX(-40px);
	transform: translateX(-40px);
	opacity: 1;
	display: block;
}
.livechat-man .livechat-hint.rd-notice-tooltip .rd-notice-content {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis
}
.rd-notice {
	opacity: 0;
	position: relative;
	padding: 0;
	border: 0;
	text-align: left;
	background-color: #546e7a;
	-webkit-box-shadow: 0 5px 10px 0 rgba(36,50,56,0.2);
	box-shadow: 0 5px 10px 0 rgba(36,50,56,0.2);
}
.rd-notice-tooltip {
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font-size: 14px;
	border-radius: 3px;
	line-height: 1.25;
	position: absolute;
	z-index: 65;
	opacity: 1;
}
.rd-notice-position-left {
	margin-left: -20px;
}
.rd-notice-type-success {
	background-color: #3b5998;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,96,35,0.2);
	box-shadow: 0 5px 10px 0 rgba(59,89,152,0.2);
}
.rd-notice-tooltip.single-line .rd-notice-content {
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	white-space: nowrap;
	color: #fff;
}
.livechat-man .livechat-hint.rd-notice-tooltip .rd-notice-content {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

.livechat-box-input-agree .checkbox i {
	left: 0;
}
.chat-message-image {
	margin: 4px;
	display: inline-block;
	cursor: pointer;
}
.chat-message-image > img {
	max-height: 70px;
	max-width: 70px;
	border-radius: 4px;
}
#crm-rate section > label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
	font-weight: 400;
	font-size: 13px;
	color: #333;
	text-align: center;
}
.support-contact-list {
	position: fixed;
	display: grid;
	z-index: 1010;
	right: 15px;
	bottom: 15px;
	background-color: #fff;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.15);
	border-radius: 36px;
	padding:4px 0;
}
@media (min-width: 768px) {
	.support-contact-list {
		right: 25px;
		bottom: 25px;
	}
}
.support-contact-list .support-contact-list-control {
	top: -8px;
	left: 50%;
	transform: translate(-50%, -100%);
	position: absolute;
	display: flex;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	cursor: pointer;
}
.open.support-contact-list .support-contact-list-control img {
	transform: rotate(-180deg);
}
.support-contact-list .support-contact-list-control img {
	width: 10px;
	margin: auto;
}
.support-contact-list .support-contact-list-item {
	padding: 0;
	height: 0;
	opacity: 0;
	display: flex;
	transition: all 0.1s ease-in;
	position: relative;
	z-index: 10;
}
.support-contact-list .support-contact-list-item .support-contact-list-item-icon {
	margin: auto;
	cursor: pointer;
}
.open.support-contact-list .support-contact-list-item {
	padding: 4px 8px;
	height: auto;
	opacity: 1;
}
.support-contact-list .support-contact-list-item.always-show {
	padding: 4px 8px;
	height: auto;
	opacity: 1;
	z-index: 10;
}
.support-contact-list .support-contact-list-item .support-contact-list-item-icon img {
	width: 40px;
	height: 40px;
}
.support-contact-list-item-steer {
	position: absolute;
	opacity: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	white-space: nowrap;
	top: 50%;
	left: -8px;
	transform: translate(-100%, -50%);
	padding: 8px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.15);
	border-radius: 33px;
	color: #4E69A2;
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}
.hovered .support-contact-list-item-steer {
	opacity: 1;
	pointer-events: auto;
}
.livechat-box-icon {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 20px;
	font-size: 22px;
	width: 19px;
	height: 19px;
	line-height: 19px;
	opacity: 1;
	cursor: pointer;
	color: #FFFFFF;
}
.bx-no-touch .livechat-box-icon:hover {
	color: #FFFFFF; /* Fix hover color */
}
@media (max-width: 768px) {
	.livechat-box-icon {
		font-size: 18px;
		width: 15px;
		height: 15px;
		line-height: 15px;
		left: 25px;
	}
}
.livechat-box .label {
	padding: 3px 8px;
	display: inline;
	font-size: 0.85em;
	font-weight: 500;
	line-height: 1em;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	color: #FFFFFF;
}
.livechat-box-msg {
	position: relative;
	margin-top: 18px;
	word-wrap: break-word;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.livechat-balloon {
	max-width: 240px;
}
.livechat-balloon__box {
	margin-bottom: 3px;
	padding: 15px;
	color: #575d67;
	background-color: #f6f6f6;
	border-radius: 10px 10px 10px 0px;
}
.livechat-balloon__name {
	margin-bottom: 10px;
	color: #3b5998;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}
.livechat-balloon__message {
	font-size: 14px;
}
.livechat-balloon__message .support-quote-body {
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.25em;
}
.livechat-balloon__details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.livechat-balloon__time {
	margin-right: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #8e8e8e;
}
.livechat-balloon__status {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.207 1.707 5.5 10.414.293 5.207l1.414-1.414L5.5 7.586 12.793.293l1.414 1.414Z' fill='%23C9C9C9'/%3E%3C/svg%3E");
	background-size: 15px 11px;
	background-position: center center;
	background-repeat: no-repeat;
}
.livechat-balloon--own {
	margin-left: auto;
}
.livechat-balloon--own .livechat-balloon__box {
	border-radius: 10px 10px 0 10px;
}
.livechat-balloon--own .livechat-balloon__details {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.livechat-balloon--own .livechat-balloon__time {
	color: #c9c9c9;
}
.livechat-balloon__details--read .livechat-balloon__status {
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.207 1.707 5.5 10.414.293 5.207l1.414-1.414L5.5 7.586 12.793.293l1.414 1.414Z' fill='%233B5998'/%3E%3C/svg%3E");
}
.support-code-textarea {
	width: 100%;
	height: 140px;
	min-height: 140px;
	resize: vertical;
	color: #000000;
}
.livechat-box-content .smart-form {
	text-align: center;
}
.livechat-box-content .smart-form .label {
	color: #393A3D;
	background-color: transparent;
}
.livechat-box-content .smart-form .rating {
	padding: 5px 16px;
	display: inline-block;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 51px;
}
.livechat-box-content .smart-form .rating label {
	margin-top: 0;
	padding: 0 4px;
	height: 21px;
	font-size: 21px;
	line-height: 21px;
	color: #DCDCDC;
}
.livechat-box-content .smart-form .rating input + label:hover,
.livechat-box-content .smart-form .rating input + label:hover ~ label {
	color: #FFC656;
}
@media (max-width: 430px) {
	.livechat-balloon__message {
		font-size: 13px;
	}
	.livechat-balloon__name {
		font-size: 14px;
	}
	.livechat-balloon__box {
		padding: 10px;
	}
	.livechat-balloon {
		max-width: 100%;
	}
	.livechat-balloon__time {
		font-size:10px;
	}
	.livechat-box-input {
		height: 65px;
		min-height: 65px;
	}
	.livechat-box-input textarea {
		padding: 10px 15px;
		height: 100%;
	}
	.livechat-box-content {
		padding: 7px 20px;
	}
	.livechat-send-button {
		flex: 1;
	}
}

/* Rating Stars In Live Chat */

.livechat-box-content .smart-form .rating input {
	display: none;
}

.livechat-box-content .smart-form .rating label {
	float: right;
}
.button-wrap__active {
	animation: 2s newMess infinite;
}

@keyframes newMess {
	0% { transform: scale(1);}
	50% {transform: scale(1.2);}
	100% { transform: scale(1);}
}

/* End */



/* Start:/bitrix/templates/adaptive/template_styles.css*/
.header-timer-wrap{color: #ffffff;display: block;  padding: 6px 12px;  margin-bottom: 0;  font-size: 13px;  font-weight: normal;  line-height: 1.42857143;  margin-top: 8px;  float: right;}
.header-timer-wrap > div{display: inline-block;}
.header-timer-wrap .countdown-section:nth-child(1){padding-right: 6px;}
.text-orange{color: #fd6d07;}
.page-footer{padding-left: var(--left-menu-width);}@media (max-width:979px){.page-footer{padding:15px 0 0 0}.page-footer .footer-adpt .footer-adpt-top{padding:0;}.page-footer .footer-adpt .footer-adpt-bottom{padding: 0;}}.footer-adpt .footer-adpt-top{width:100%;background-color:#fff;padding:30px}.footer-adpt .footer-adpt-bottom{width:100%;background-color:#f7f8f9;padding:30px}.footer-adpt ul{margin:0;padding:0;list-style:none}/*.footer-adpt ul>li:first-child{height:38px;font-size:13px;font-weight:700;padding-bottom:10px}*/.footer-adpt .footer-adpt-bottom ul>li:first-child{height:auto}.footer-app-android,.footer-app-ios{display:inline-block;width:130px;height:40px}.footer-adpt ul>li{overflow:hidden;text-overflow:ellipsis;padding:6px 0}.footer-adpt ul>li,.footer-adpt ul>li a{color:#3b5998;text-decoration:none}.footer-adpt ul>li a:hover{text-decoration:underline}.footer-adpt ul>li a.btn{color:#fff;overflow:hidden;text-overflow:ellipsis;max-width:100%}.footer-adpt ul>li a.btn:hover{text-decoration:none;color: #ffffff !important;}.footer-adpt ul>li.black{color:#555}.footer-adpt .footer-soc-button{margin-bottom:16px}.footer-adpt .footer-soc-button a{font-size:28px;color:#b5bfc9;text-decoration:none;margin:0 12px 12px 0}.footer-adpt .footer-soc-button a:hover{color:#3b5998 !important;}.footer-adpt .light{color:#9aa2aa;font-size:12px}.footer-app-ios{background:url(/bitrix/templates/adaptive/img/apps_sprite.png) top left no-repeat}.footer-app-ios:hover{background-position:0 -40px}.footer-app-android{background:url(/bitrix/templates/adaptive/img/apps_sprite.png) -130px 0 no-repeat}.footer-app-android:hover{background-position:-130px -40px}.footer-adpt .footer-app-wrap{margin:26px 0}@media(max-width:1200px){.footer-adpt .col-sm-4{width:33.33333333%;padding-bottom:20px}.footer-adpt .special-clear{clear:both}.footer-adpt ul>li:first-child{height:auto}.col-sm-12{width:100%}}@media(max-width:600px){.footer-adpt .col-xs-6{width:50%}.footer-adpt .special-clear-xs{clear:both}.footer-adpt .special-clear{clear:none}}
a[rel=yellow]{background-color: #face1f !important;}
@media (max-device-width: 1024px){.touch-scroll {  /*height: 100vh; overflow-y: scroll;  -webkit-overflow-scrolling: touch;*/  }  html{ touch-action: manipulation  }  }
.get-user-info .close{
    position: absolute;
    top: 1px;
    right: 6px;
}
.get-user-info{
    position: absolute;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 12px #ccc;
    z-index: 999;
    border-radius: 4px;
}
.get-user-info .user-left-side{
    float: left;
    width: 130px;
    text-align: center;
    margin-right: 15px;
}
.get-user-info .user-right-side{
    float: right;
    text-align: left;
}
.get-user-info .user-left-side img{
    max-height: 150px;
    max-width: 100%;
    box-shadow: 0 2px 4px #ccc;
    padding: 4px;
}
.get-user-info .user-left-side .rating{
    font-size: 20px;
    margin-top: 8px;
}
.get-user-info .user-left-side .rating +p{
    color: #777;
}
.get-user-info .add-friend-btn{
    padding: 6px 0;
    margin-top: 10px;
}
[data-action=get-user-info]{cursor: pointer;}

.smart-form .button, .smart-form .toggle i:before{background-color: #f5f5f5;color: #000;}

.table>tbody>tr>td.middle{vertical-align: middle;}
.smart-style-2 .well.inf-promo-item{
    background: #f5f5f5;
}
.inf-promo-wrap{text-align: center;}
.inf-promo-item{display: inline-block;vertical-align: top;width: 100%;text-align: left;height: 300px;overflow: hidden;padding-top: 0;}
.inf-promo-text{height: 102px;}
.inf-promo-item-desc{font-size: 12px;height: 64px;display: none;}
.inf-promo-item:after{content:'';position: absolute;bottom: 0;left: 0;width: 100%;height: 70px;
    background: rgba(255,255,255,0.85);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.90)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );}
.inf-promo-item-img{text-align: center; padding-top: 10px;display: block}
.inf-promo-item-img img{max-width: 100%;display: inline-block;height: 150px;}
.inf-promo-item-price{font-weight: 700;position: relative;z-index: 2;display: block;    margin-top: -10px;}


body div.BPMRenewTask{padding: 6px 10px;border: 0;margin: 10px 0 0 0;overflow: hidden;}
body div.BPMRenewTask .bpm-task-title{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;display: block;    margin: 6px 0;}


.fa.fa-ie2018 {
    margin-bottom: -2px;
    background-image: url(/bitrix/templates/adaptive/img/ie2018_v2.1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    content: ' ';
}
.fa.fa-gmail {
    margin-bottom: -2px;
    background-image: url(/bitrix/templates/adaptive/img/gmail.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    content: ' ';
    background-size: contain;
}

.footer-adpt .footer-soc-button a.fa.fa-zen{
    margin-bottom: -2px;
    margin-top: 1px;
    background: url("/bitrix/templates/adaptive/img/zen.png") no-repeat center center;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.footer-adpt .footer-soc-button a.fa.fa-zen:hover{
    background-image: url("https://infostart.ru/bitrix/templates/adaptive/img/zen_h.png");
}
.ajax-dropdown-cart{right: 10px;left: auto;height: 442px;}
.ajax-dropdown-cart .col{font-size: 13px;}
.ajax-dropdown-cart .row{border-bottom: 1px solid #cecece;padding: 4px 0;margin: 0 0 4px 0;}
.ajax-dropdown-cart:before,.ajax-dropdown-cart:after{margin-left: 34px;}
.ajax-dropdown-cart .ajax-notifications {
    white-space: normal;
}
.cart-count{position: relative;}
.ajax-dropdown-cart .ajax-notifications {
    height: 364px;background: #fffefe;
}
@media (max-device-width:1024px) {
    .ajax-dropdown-cart{
        width: calc(100%);
        left: 0;
    }
    .ajax-dropdown-cart:before, .ajax-dropdown-cart:after{right: 76px;left: auto;}
}
.no-top-border{border-top: none;}
.browse-block-item.height1 a.nav-link.active{background-color:#f0f0f0;}
.browse-block-item.height1 a.nav-link{padding:9px 11px}
/*.browse-block-item.height1 .well:not(.spot-publ-block){padding: 5px 6px 4px 6px;}*/
.sub-header{
    height: 30px;
    position: fixed;
    background: #3b5998;
    width: 100%;
    z-index: 1001;
    box-shadow: 0px 1px 3px 0px #223459;
}

.wrap-btn-load-more .btn-load-more-public {
    margin-bottom: 10px;
}

/*megamenu*/
.is-line-menu-item__link {
    color:#252525 !important;
    padding: 0;
}
#is-header .is-line-menu-item__link:hover {
    background: transparent !important;
}
.is-d-menu-list-desk-item:hover, .is-d-menu-root-item:hover, .is-tree-item-link:hover, .is-tree__title:hover,
.is-d-menu-list-heading:hover {
    text-decoration: none;
    color:inherit;
}

#is-header a:hover, #is-header a:active {
    text-decoration: none;
}
#is-header {
    position: relative;
    z-index: 1000;
}
/*end megamenu*/
/* End */



/* Start:/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.carousel.css*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/* End */



/* Start:/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.theme.css*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/* End */
/* /bitrix/components/infostart/support.chat/templates/modal/style.css */
/* /bitrix/templates/adaptive/template_styles.css */
/* /bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.carousel.css */
/* /bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.theme.css */
